# these dependencies are not installed when Pulse SDK is installed
# These are only needed for local testing and development, hence a separate requirements file

python-dotenv==1.1.0
openai>=1.109.1,<2.0.0
langchain>=1.2.1,<2.0.0
langchain-openai>=1.1.6,<2.0.0
langgraph>=1.0.5,<2.0.0
langchain-community>=0.4.1,<1.0.0
